.sign-in{
    background-color: #fff;
    width: 500px;
    height: 500px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border-radius: 50%;
}


.login-form .input-wrapper{
    display: flex;
    flex-direction: row;
    justify-content:space-between;
    margin-bottom: 10px;
    align-items: center;
}
.login-form label{
    margin-right: 15px;
}
.login-form input{
    height: 35px;
}
.login-form .button{
    margin-top: 30px;
    background-color: var(--light-pink);
    margin: 30px auto 0px;
    text-align: center;
    display: flex;
    padding: 5px;
    border: 0px;
}
